@charset "UTF-8";

@import 'breakpoints.scss';
@import './node_modules/materialize-css/sass/materialize.scss';

.container {
  max-width: 1300px;
}

header {

  .brand-logo {
    width: 64px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
  }

  nav {
    box-shadow: none;
    border-bottom: 1px solid #acacac;

    .button-collapse {
      margin: 0;

      i {
        font-size: 33px;
      }
    }
  }

  ul {

    li {

      a {
        position: relative;
        color: #7f7f7f;
        padding: 0 12px;

        &::after {
          content: '';
          width: 100%;
          height: 3px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #3e4eb8;
          opacity: 0;
        }

        i.left {
          margin-right: 10px;
        }
      }

      .btn-floating {
        width: 48px;
        height: 48px;
        margin-right: 23px;
      }

      &.active {
        background-color: transparent;

        a::after {
          opacity: 1;
        }
      }
    }
  }

  .side-nav {

    li > a {

      &::after {
        content: none;
      }

      &.btn-flat {
        padding: 0;
        margin-left: 21px;
      }
    }
  }
}

main {
  padding-top: 25px;

  h4, h5 {
    font-weight: 300;
  }
}

.content-wrapper {
  padding-top: 25px;
  font-size: 16px;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .card {
    box-shadow: none;

    &-image {
      border: 16px solid #ccc;
      padding: 5px;
    }
  }

  ol, ul {
    padding-left: 20px;
  }
}

.collapsible {
  box-shadow: none;
  border: none;
  margin-bottom: 0;

  &-header {
    padding: 0;
    min-height: 0;
    border: none;
    font-size: 20px;
    font-weight: 300;

    span {
      border-bottom: 1px solid #bcbcbc;
    }
  }

  &-body {
    position: relative;
    border: none;
    padding: 0;
    margin-bottom: 15px;
  }
}

.carousel {
  min-height: 315px;
  height: auto;

  .carousel-item {
    min-height: 310px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #797979;
    padding-top: 6px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .item-user,
  .item-description {
    padding-left: 8px;
    padding-right: 8px;
  }

  .item-user {
    margin-bottom: 13px;
    white-space: nowrap;

    &_avatar,
    &_info {
      display: inline-block;
      vertical-align: middle;
    }

    &_avatar {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }

    &_info {
      font-size: 12px;
      line-height: 14px;

      .info-date {
        font-size: 10px;
      }
    }
  }

  .item-description {
    line-height: 18px;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .item-image {
    position: relative;
    border: 11px solid #ccc;
    padding: 4px;

    img {
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      left: -11px;
      right: -11px;
      bottom: -11px;
      top: -11px;
      background-color: rgba(0,0,0,0.4);
    }

    &_caption {
      position: absolute;
      left: -3px;
      right: 0;
      bottom: 3px;
      padding-top: 15px;
      color: #fff;
      line-height: 1;
      font-size: 11px;

      .caption-name {
        font-weight: 500;
        font-size: 14px;
      }

      .caption-place,
      .caption-date {
        white-space: nowrap;
        margin-top: 3px;

        .material-icons {
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          margin-top: -2px;
          margin-left: -2px;
          margin-right: 2px;
        }
      }
    }
  }

  .item-counters {
    padding: 12px 10px 14px;
    white-space: nowrap;

    &_item {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      margin-right: 13px;

      i, span {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        margin-left: 3px;
      }
    }
  }
}

.carousel-nav {
  display: none;

  .nav-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #797979;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 100%;
    transition: all 0.3s;
    z-index: 999;

    .material-icons {
      font-size: 65px;
      line-height: 52px;
    }

    &_left {
      left: -25px;

      .material-icons {
        margin-left: -9px;
      }
    }

    &_right {
      right: -25px;

      .material-icons {
        margin-left: -5px;
      }
    }

    .no-touch & {

      &:hover {
        opacity: 1;
      }
    }
  }
}

.all-list {
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;

  .no-touch & {

    &:hover {
      text-decoration: none;
    }
  }
}

.page-footer {
  background-color: transparent;
  padding: 0;
  font-size: 11px;
  margin-top: 40px;

  p {
    border-top: 1px solid #797979;
    padding-top: 8px;
  }

  ol {
    padding-left: 13px;
  }

  ol, p {
    margin: 0;
  }
}

.col_hide-mobile {
  @include to(993px) {
    display: none;
  }
}