footer.page-footer
  .row
    .col.s12.m12.l7
      p Правила и&nbsp;ограничения:
      ol
        li Регистрация на&nbsp;соревнование должна быть открыта и&nbsp;оплата должна быть доступна в&nbsp;онлайне.
        li Стоимость слота не&nbsp;должна превышать 5000&nbsp;руб. Мы&nbsp;оплачиваем только один слот и&nbsp;только целиком.
        li Мы&nbsp;не&nbsp;платим приз деньгами, борзыми щенками и&nbsp;как-то ещё. Просто оплачиваем слот.
