header
  nav.white
    .nav-wrapper
      a.brand-logo.indigo.darken-1(href='/') TI
      a.button-collapse.indigo-text.text-darken-1(href="#", data-activates="mobileMenu")
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(href='#!')
            i.material-icons.left dashboard
            | Новости
        li.active
          a(href='#!')
            i.material-icons.left flag
            | Соревнования
        li
          a(href='#!')
            i.material-icons.left description
            | Отчёты
        li
          a.btn-floating.btn-flat
            img.circle.responsive-img(src=pathImg + "content/avatar.png", alt="")

      ul.side-nav#mobileMenu
        li
          a.btn-floating.btn-flat
            img.circle.responsive-img(src=pathImg + "content/avatar.png", alt="")
        li
          a(href='#!')
            i.material-icons.left dashboard
            | Новости
        li.active
          a(href='#!')
            i.material-icons.left flag
            | Соревнования
        li
          a(href='#!')
            i.material-icons.left description
            | Отчёты