head
  meta(charset="utf-8")
  title #{pageTitle}
  link(rel="dns-prefetch", href=linkMain)
  meta(name="description", content=pageDescription)
  meta(name="robots", content="index,follow,noodp")
  meta(name="googlebot", content="index,follow")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="#3e4eb8")
  link(rel="apple-touch-icon", sizes="76x76", href=pathImg + "favicons/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href=pathImg + "favicons/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href=pathImg + "favicons/favicon-16x16.png")
  link(rel="manifest", href=pathImg + "favicons/manifest.json")
  link(rel="mask-icon", href=pathImg + "favicons/safari-pinned-tab.svg", color="#3e4eb8")
  meta(name="theme-color", content="#3e4eb8")
  meta(property="og:title", content=pageTitle)
  meta(property="og:type", content="article")
  meta(property="og:image", content=linkInImg)
  meta(property="og:site_name", content="Кавказский узел")
  meta(property="og:description", content=pageDescription)
  meta(name='twitter:title', content=pageTitle)
  meta(name='twitter:description', content=pageDescription)
  meta(name='twitter:image', content=linkInImg)
  meta(itemprop='name', content=pageTitle)
  meta(itemprop='description', content=pageDescription)
  meta(itemprop='image', content=linkInImg)
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  link(rel="stylesheet", href=pathCSSAssets)