doctype html
include settings.pug
block vars
html(lang='ru')
  include head.pug
  body
    .container
      include header.pug
      main
        block content
      include footer.pug
    include js.pug
