block vars
  //- Заголовок страницы
  - var pageTitle = "Какой то заголовок на русском"
  //- SEO: description
  - var pageDescription = "Описание для SEO на русском"
  //- Путь до css
  - var pathCSSAssets = "css/" + ((env == "dev") ? "assets.dev.css" : "assets.min.css") + "?v=" + Math.floor(Math.random() * 1000000)
  //- Путь до картинок
  - var pathImg = "images/"
  //- Путь до js
  - var pathJS = "js/"
  - var pathJSApp = pathJS + ((env == "dev") ? "app.js" : "app.min.js") + "?v=" + Math.floor(Math.random() * 1000000)
  - var pathJSLibs = pathJS + ((env == "dev") ? "libs.js" : "libs.min.js") + "?v=" + Math.floor(Math.random() * 1000000)
  //- Сссылка на главную
  - var linkMain = "/"
  //- Ссылка на картинку для OpenGraph
  - var linkInImg = linkMain + pathImg + "core/.jpg"
