extends includes/layout.pug

block content
  h4.center-align Слот за отчёт

  h5.center-align Выйграй слот на будущий старт, рассказав о прошедшем

  .content-wrapper
    .row
      .col.s12.m12.l6.xl7
        p Каждую неделю мы&nbsp;дарим слот на&nbsp;любой российский старт (почти на&nbsp;любой, условия смотри <a href="#">ниже</a>).
        p Всё, что нужно сделать для этого: получить максимум лайков за&nbsp;свои отчёты на&nbsp;нашем сайте. Он&nbsp;может быть один или вы&nbsp;опубликуешь сразу несколько, выложишь их&nbsp;сразу или по&nbsp;мере написания&nbsp;&mdash; всё это не&nbsp;влияет на&nbsp;результат конкурса.
        p Выигрывает тот, кто соберёт больше лайков с&nbsp;понедельника по&nbsp;воскресенье.

      .col.s12.m12.l6.xl5
        .card
          .card-image
            img(src=pathImg + "content/500.jpg", alt="")

    .row
      .col.s12.m12.l5.xl4.col_hide-mobile
        .card
          .card-image
            img(src=pathImg + "content/450.jpg", alt="")

      .col.s12.m12.l7.xl8
        h5 Пять простых шагов к победе

        ol
          li Зарегистрируйся на&nbsp;triit.ru, если ещё не&nbsp;успел это сделать. Это просто, а&nbsp;через социальные сети можно зарегистрироваться в&nbsp;один клик.
          li Отмечайся на&nbsp;соревнованиях, в&nbsp;которых принимал участие, и&nbsp;вводи результаты. Все они сохранятся в&nbsp;твоём профиле.
          li Расскажи в&nbsp;отчётах о&nbsp;том, как прошли эти соревнования. Добавь фотографии или видео, опиши, с&nbsp;чем ты&nbsp;столкнулся, что понравилось, а&nbsp;что не&nbsp;очень.
          li Позови друзей отдать лайк за&nbsp;твои отчёты. Для этого им&nbsp;тоже надо будет зарегистрироваться, но&nbsp;как ты&nbsp;уже убедился&nbsp;&mdash; это быстро и&nbsp;не&nbsp;сложно.
          li Собери максимум лайков за&nbsp;неделю и&nbsp;получи свой заслуженный слот на&nbsp;любое российское соревнование.

    h5 Лидеры этой недели

  ul.collapsible(data-collapsible="expandable")
    each nameUser in ['Иван Петров - 580 лайков', 'Маргарита Сидорова - 340 лайков', 'Семён Викторов - 307 лайков', 'Фёдор Яковицкий - 203 лайка', 'Тамара Угловая - 164 лайка']
      li
        .collapsible-header
          span= nameUser
        .collapsible-body
          - var nnn = 1;
          .carousel
            while nnn < 8
              .carousel-item
                .item-user
                  .item-user_avatar
                    img.circle(src=pathImg + "content/avatar.png", alt='')
                  .item-user_info
                    .info-name Иван Петров
                    .info-date 15.10.2016
                .item-description Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016...
                .item-image
                  img(src=pathImg + "content/food-" + (nnn++) + ".jpg", alt="")
                  .item-image_caption
                    .caption-name IRONSTAR Sochi 2016
                    .caption-place
                      i.material-icons flag
                      | Сочи, Россия
                    .caption-date
                      i.material-icons event
                      | Вс 15.09.2016
                .item-counters
                  .item-counters_item
                    i.material-icons visibility
                    span 412
                  .item-counters_item
                    i.material-icons favorite_border
                    span 78
                  .item-counters_item
                    i.material-icons chat_bubble_outline
                    span 15

          .carousel-nav
            .nav-item.nav-item_left
              i.material-icons chevron_left
            .nav-item.nav-item_right
              i.material-icons chevron_right

  a.all-list(href="#") Полный список участников и лидеров